@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    margin: 20px 0;
    font-size: 45px;
}

img {
    height: 150px;
    border-radius: 100%;
}

/* 
body {
padding: 10px;
}

.App {}

.mainContainer {
}

form {
    display: flex;
    gap: 15px;
}

h1 {
    margin: 20px 0;
    font-size: 45px;
}

button {
    border-radius: 4px;
    padding: 5px 20px;
    color: #ffffff;
    background-color: #335185;
}

#text-input {
    border-style: 12px #465ca3;
}

*/