@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* margin: 0; */
    padding: 10px;
}

.App {}

.mainContainer {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

form {
    display: flex;
    gap: 15px;
}

h1 {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 20px 0;
    font-size: 45px;
}

button {
    border-radius: 4px;
    padding: 5px 20px;
    color: #ffffff;
    background-color: #335185;
    /* display: block; */
    /* margin: auto; */
}

#text-input {
    border-style: 12px #465ca3;
}